---
layout: default
title: An easy-to-use build automation tool for Python
---

<div class="row">
    <div class="col-lg-12">
        <h1>
            <span class="glyphicon glyphicon-star" style="color: gold"></span> PyBuilder
        </h1>
        <p>
            <em>PyBuilder</em> is a software build automation tool written in pure Python mainly
            targeting Python ecosystem. It is based on the concept of dependency-based programming but also comes
            along with powerful plugin mechanism that allows the construction of build life-cycles similar to those
            known
            from other famous build tools like <em>Apache Maven</em> and <em>Gradle</em>.
        </p>
        <p>
            <em>PyBuilder</em> runs on Python <strong>3.6 to 3.11 and PyPy</strong>.
            Every commit is tested via
            <a href="https://github.com/pybuilder/pybuilder/actions/workflows/pybuilder.yml">GitHub Actions</a>
            on CPython 3.6, 3.7, 3.8, 3.9, 3.10, 3.11 and PyPy on Linux, MacOS
            (with and without Homebrew) and Windows.
        </p>
        <p>
            <small>v0.12.x still supports Python 2.7, and 3.5 but is no longer maintained, except for critical fixes.</small>
        </p>
        <p>
            <small>v0.11.x still supports Python 2.6, 3.3 and 3.4 but is no longer maintained.</small>
        </p>
        <p>
            <em>PyBuilder</em>
            is licensed under
            <a href="https://github.com/pybuilder/pybuilder/blob/master/LICENSE">Apache 2.0 License</a>
            and is hosted on
            <a href="https://github.com/pybuilder/pybuilder">github.com/pybuilder/pybuilder</a>.
        </p>
        <p>
            <iframe src="https://ghbtns.com/github-btn.html?user=pybuilder&repo=pybuilder&type=star&count=true"
                    loading="lazy" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=pybuilder&repo=pybuilder&type=fork&count=true"
                    loading="lazy" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
            <a href="https://twitter.com/intent/follow?screen_name=pybuilder_">
                <img src="https://img.shields.io/twitter/follow/pybuilder_?label=Follow%20PyBuilder&style=social"
                     loading="lazy" alt="Follow PyBuilder on Twitter"/></a>
            <a href="https://app.gitter.im/#/room/#pybuilder_pybuilder:gitter.im">
                <img src="https://img.shields.io/gitter/room/pybuilder/pybuilder?logo=gitter"
                     loading="lazy" alt="PyBuilder Gitter Room"/></a>
            <a href="https://github.com/pybuilder/pybuilder/actions/workflows/pybuilder.yml">
                <img src="https://img.shields.io/github/actions/workflow/status/pybuilder/pybuilder/pybuilder.yml?branch=master"
                     loading="lazy" alt="PyBuilder GitHub Actions Build Status"/></a>
            <a href="https://coveralls.io/github/pybuilder/pybuilder">
                <img src="https://img.shields.io/coveralls/github/pybuilder/pybuilder/master?logo=coveralls"
                     loading="lazy" alt="PyBuilder Coveralls Build"/></a>
        </p>
        <p>
            <a href="https://pypi.org/project/pybuilder/">
                <img src="https://img.shields.io/pypi/v/pybuilder?logo=pypi"
                     loading="lazy" alt="PyBuilder Version"></a>
            <a href="https://pypi.org/project/pybuilder/">
                <img src="https://img.shields.io/pypi/pyversions/pybuilder?logo=pypi"
                     loading="lazy" alt="PyBuilder Python Versions"></a>
            <a href="https://pypi.org/project/pybuilder/">
                <img src="https://img.shields.io/pypi/dd/pybuilder?logo=pypi"
                     loading="lazy" alt="PyBuilder Daily Downloads"></a>
            <a href="https://pypi.org/project/pybuilder/">
                <img src="https://img.shields.io/pypi/dw/pybuilder?logo=pypi"
                     loading="lazy" alt="PyBuilder Weekly Downloads"></a>
            <a href="https://pypi.org/project/pybuilder/">
                <img src="https://img.shields.io/pypi/dm/pybuilder?logo=pypi"
                     loading="lazy" alt="PyBuilder Monthly Downloads"></a>
        </p>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h2>
            <span class="glyphicon glyphicon-flash" style="color: silver"></span> News
        </h2>
        {% assign top_post = site.categories.news[0] %}
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <a href="{{ top_post.url | rel_canonical_url }}">{{ top_post.title }}</a>
                </h3>
                {{ top_post.excerpt }}
            </div>
        </div>
        {% assign news_count = 1 %}
        {% for post in site.posts %}
        {% if news_count == site.news_posts_max %}
        {% break %}
        {% endif %}
        {% if post.url != top_post.url %}
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <a href="{{ post.url | rel_canonical_url }}">{{ post.title }}</a>
                </h3>
                {{ post.excerpt }}
            </div>
        </div>
        {% assign news_count = news_count | plus:1 %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    <span class="glyphicon glyphicon-wrench" style="color: steelblue"></span>
                    Get started
                </h2>
                <ul class="tabs" data-persist="true">
                    <li>
                        <a href="#startproject">New project</a>
                    </li>
                    <li>
                        <a href="#checkoutbuild">Existing project</a>
                    </li>
                </ul>
                <div class="tabcontents">
                    <div id="startproject">
        <pre><code>
  #!/bin/sh

  pip install pybuilder

  # If you want the bleeding edge
  # (we release after every commit)
  # pip install --pre pybuilder

  pyb --start-project
  pyb publish

  </code></pre>
                    </div>
                    <div id="checkoutbuild">
        <pre><code>
  git clone https://github.com/twentybn/GulpIO
  cd GulpIO
  python -m venv venv
  source venv/bin/activate
  pip install pybuilder

  # If you want the bleeding edge
  # (we release after every commit)
  # pip install --pre pybuilder

  pyb

  </code></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    <span class="glyphicon glyphicon-cloud-download" style="color: lightblue"></span>
                    Install PyBuilder
                </h2>
                <div align="left"><em>PyBuilder</em> is available on <a
                        href="https://pypi.org/project/pybuilder/">PyPI</a>
                </div>
                <pre><code>pip install pybuilder</code></pre>
                <p>
                    We recommend using <em>virtualenv</em>.
                    Please see the <a href="/documentation/installation">dedicated installation page</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    <span class="glyphicon glyphicon-book" style="color: brown"></span>
                    Read the Tutorial
                </h2>
                <p>
                    The tutorial shows you how to get started using
                    <em>PyBuilder</em>
                    for your Python project including unittests, coverage and distutils.
                </p>
                <p>
                    <a class="btn btn-primary btn-small" href="/documentation/tutorial">Tutorial &raquo;</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    <span class="glyphicon glyphicon-film" style="color: gray"></span>
                    Watch the Presentation
                </h2>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iQU18hAjux4"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
