<footer>
  <hr>
  <div class="container">
    <div class="row">
        <a href="https://github.com/pybuilder/pybuilder">PyBuilder on GitHub</a>
        <a href="http://pypi.python.org/pypi/pybuilder/">PyBuilder on PyPI</a>
        <a href="http://code.google.com/p/python-builder">PyBuilder on Google Code (legacy)</a>
    </div>
  </div>
  <div class="publish-date">
    <small>site published on {{ site.time }}</small>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/jquery.tocify.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
