<footer style="padding-left: 2em;">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">&copy; PyBuilder Team 2011-2013</div>

      <div class="col-md-3">
        <a href="https://github.com/pybuilder/pybuilder">Sourcecode on github</a>
        <br>
        <a href="http://pypi.python.org/pypi/pybuilder/">Pypi</a>
        <br>
        <a href="http://code.google.com/p/python-builder">Old Google Code pages</a>
        <br></div>
      <div class="col-md-3">
        <small>published on {{ site.time }}</small>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/jquery.tocify.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
