<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hdr-nb-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pybuilder-brand dropdown" href="/" title="PyBuilder">
                <img src="/img/logo_brand.png" alt="PyBuilder Logo"/></a>
        </div>

        <div class="collapse navbar-collapse" id="hdr-nb-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="/" title="PyBuilder">PyBuilder</a>
                </li>
                <li class="dropdown">
                    <a href="/about" title="About">About</a>
                </li>
                <li class="dropdown">
                    <a href="/news/" title="News">News</a>
                </li>
                <li class="dropdown">
                    <a href="/documentation/" class="dropdown-toggle">Documentation <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">User Documentation <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/documentation/installation">Installation</a>
                                </li>
                                <li>
                                    <a href="/documentation/tutorial">Tutorial</a>
                                </li>
                                <li>
                                    <a href="/documentation/examples">Examples</a>
                                </li>
                                <li>
                                    <a href="/documentation/manual">Manual</a>
                                </li>
                                <li>
                                    <a href="/documentation/plugins">Plugins</a>
                                </li>
                                <li>
                                    <a href="/documentation/external-plugin-list">External plugins</a>
                                </li>
                                <li>
                                    <a href="/documentation/ide">IDE integration</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Developer Documentation <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/documentation/writing-plugins">Writing Plugins</a>
                                </li>
                                <li>
                                    <a href="/documentation/developing-pybuilder">Developing PyBuilder</a>
                                </li>
                                <li>
                                    <a href="/documentation/publishing-plugins">Publishing Your Plugins</a>
                                </li>
                                <li>
                                    <a href="#">API (Unavailable)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Releases <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="/release-notes/" class="dropdown-item dropdown-toggle">Release Notes
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% assign items = site["release-notes"] | reverse %}
                                {% for item in items %}
                                <li>
                                    <a href="{{ item.url | rel_canonical_url }}">{{item.list_title}}
                                        {% if items[0] == item %}(Current){%endif%}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/migration-guides/" class="dropdown-item dropdown-toggle">Migration Guides
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% assign items = site["migration-guides"] | reverse %}
                                {% for item in items %}
                                <li>
                                    <a href="{{ item.url | rel_canonical_url }}">{{ item.list_title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

