<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">PyBuilder</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Documentation
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/documentation/tutorial.html">Tutorial</a></li>
              <li><a href="/documentation/installation.html">Installation</a></li>
              <li><a href="/documentation/manual.html">Manual</a></li>
              <li><a href="/documentation/plugins.html">Plugins</a></li>
            </ul>
          </li>

          <li><a href="/releasenotes/">Releasenotes</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
