<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="//www.googletagmanager.com/gtag/js?id=UA-2839506-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2839506-6');
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="PyBuilder is an extensible, comprehensive and easy-to-use build tool for Python.">
<meta name="author" content="PyBuilder community">
<meta name="keywords" content="python, continuous integration, build tool, automation, CI, CD, CI/CD">

<link href="https://fonts.googleapis.com/css?family=Oleo+Script:700" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/jquery.tocify.css"/>
<link type="text/css" rel="stylesheet" href="/css/styles.css"/>
<link type="text/css" rel="stylesheet" href="/css/highlightjs.css"/>

<link href="/css/tabcontent.css" rel="stylesheet" type="text/css"/>
