<h1>Manual</h1>

<p>
  This page documents the usage of pybuilder.
</p>

<p><strong><i>WIP WARNING: This page is work in progress.</i></strong></p>
<h2>Introduction</h2>

<p>
  pybuilder is a software build tool. pybuilder can be used for a lot of purposes. Most
  commonly it targets the "building" and management of software with a strong focus on Python.
</p>

<h3>Building Python Projects</h3>

<p>Among the capabilities that you can use out of the box when applying pybuilder to your project, you get: </p>
<ul>
  <li>Automatic execution of unit and integration tests on every build</li>
  <li>Automatic analysis of the code coverage</li>
  <li>Automatic execution of analysis tools, such as</li>
  <ul>
    <li>pylint</li>
    <li>pychecker</li>
    <li>pymetrics</li>
    <li>pep8</li>
    <li>flake8</li>
  </ul>
  <li>Automatic generation of distutils script (<code>setup.py</code>)</li>
</ul>

<h3>Why Another Build Tool</h3>

<p>
  When working on large scale software projects based on Java and Groovy I delved into the build process using tools
  such as Apache Ant, Apache Maven or Gradle. Although non of these tools is perfect they all provide a powerful and
  extensible way for build and testing software.
</p>

<p>
  When focusing on Python I looked for a similar tool and got frustrated by the large number of tools that all match
  some aspect of the build and test process. Unfortunately, all tools work mostly independent from each other and
  there was no central point of entry. <br>
  I suddenly found myself writing "build scripts" in Python over and over again using the tools I found out to be
  usefull.
</p>

<p>pybuilder was born on the attempt to create a reusable tool that should </p>
<ul>
  <li>Make simple things simple</li>
  <li>Make hard things as simple as possible</li>
  <li>Let me use whatever tool I want to integrate</li>
  <li>Integrate these tools into a common view</li>
  <li>Let me use Python (which is really great) to write my build files</li>
</ul>

<h2>Concepts</h2>

<p>pybuilder executes build logic that is organized in tasks and actions.</p>

<p>Tasks are the main building blocks of the build logic. A task is an enclosed piece of build logic to be executed as
  a single unit. Each task can name a set of other tasks that this task depends on. pybuilder ensures, that a
  task gets executed only after all of its dependencies have been executed.</p>

<p>Tasks are plain Python functions. A decorator is used to label a function as a task. Thus, you can structure your
  code the way you like if you provide a single point of entry to a build step.</p>

<p>Actions are smaller pieces of build logic then tasks. Actions are bound to the execution of task. Each action names
  that it needs to be executed <i>before</i> or <i>after</i> a named task. Python Builder will execute the action if
  and only if the named task is executed, either directly or as a dependency.</p>

<p>Actions as well as tasks are plain Python functions that are decorated to become an action.</p>

<p>Both task and action functions can accept parameters. pybuilder supports a set of parameters and knows which
  one to pass to a function based on the parameter's name.</p>

<h2>Installation</h2>

<h3>Pip/ Easyinstall</h3>

<p>If you have pip or easyinstall installed on your machine, you may simply install pybuilder using a command such
  as: </p>
<pre>$ sudo pip pybuilder</pre>

<h3>Manual Installation</h3>

<p>
  You should download the most recent version of pybuilder from the
  <a href="https://github.com/pybuilder/pybuilder/downloads">downloads page</a>.
</p>

<p>The pybuilder distribution ships with a standard <a href="http://docs.python.org/distutils/index.html"
                                                       rel="nofollow">distutils</a> <code>setup.py</code>script that can
  be used to perform a local installation. Just type
</p>
<pre>$ python setup.py install</pre>

<p>Note that you need to have administrative permissions to perform the install to Python's standard directories
  (Unix/ Linux users may prefix the command with <code>sudo</code> if they have the appropriate permissions.</p>

<h2>Writing Tasks</h2>
<p>
  Writing a task is easy. You just create a function and decorate with the <code>@task</code> decorator:
</p>
<pre>
  from pythonbuilder.core import task

  @task
  def say_hello ():
      print "Hello, pybuilder"
</pre>

<h3>Dependency Injecting</h3>
<p>pybuilder supports dependency injection for tasks based on parameters. The following parameters can be used to
receive components:</p>
<dl>
  <dt>logger</dt>
  <dd>A logger instance which can be used to issue messages to the user.</dd>
  <dt>project</dt>
  <dd>An instance of the project that is currently being built.</dd>
</dl>

<p>Thus we can rewrite the task above to use the logger:</p>
<pre>
  from pythonbuilder.core import task

  @task
  def say_hello (logger):
      logger.info("Hello, pybuilder")
</pre>

<h3>Project Attributes</h3>
<h3>Project Properties</h3>

<h4>Setting Properties from tasks</h4>
<h4>Setting Properties from the command line</h4>

<p>Properties can be set or overridden using command line switches. </p>
<pre>$ pyb -P spam="spam message"</pre>

<p>This command sets/ overrides the property with the name <code>spam</code> with the value <code>spam message</code>.</p>

<p>Notice that command line switches only allow properties to be set/ overridden using string values.</p>

<h2>Plugins</h2>
<h3>Python Plugins</h3>
<h4>Building an Egg</h4>    

<h5>Moving scripts to a nested directory</h5>

<p>By default, executable scripts are located at the egg's root. The <code>setup.py</code> contains the bare script names.
  Sometimes though you may want to move the scripts inside a directory to avoid naming collisions (i.e. with
  packages). </p>

<p>The <code>python.core</code> and <code>python.distutils</code> plugins support the property <code>dir_dist_scripts</code> that
  can name a directory to contain scripts inside the egg. This property is empty by default. Set it to the local name
  of the directory you want the scripts to be moved to:</p>
<pre>
@init
def initialize (project):
    project.set_property("dir_dist_scripts", 'scripts')
    ...
</pre>
