<!DOCTYPE html>
<html lang="en" ng-app="pybuilder">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  {% include layout/metaAndStyles.html %}
</head>

<body>

{% include layout/header.html %}

<div class="container">
  <div class="row">
    <div class="col-md-7" id="content">{{ content }}</div>
    <div class="col-md-5 visible-md visible-lg">
      <div class="tocify" id="toc"></div>
    </div>
  </div>
</div>

{% include layout/footer.html %}
<script src="/js/toc.js"></script>
<script>
$(function() {
                  $("#toc").tocify({ scrollTo: 50, selectors: "h1,h2,h3,h4", showEffectSpeed: "fast" });
              });
</script>
</body>
</html>
