<!doctype html>
<html lang="en">
<head>
    {% include layout/metaAndStyles.html %}
    <title>PyBuilder &#x2014; {{ page.title }}</title>
</head>

<body>

{% include layout/header.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ page.title }}</h1>
            <div class="post-metadata pull-right">
                <p>
                    {% if page.author %}
                    Written by:
                    {% assign author = site.data.authors[page.author] %}
                    {% if author.website %}
                    <a rel="author" href="{{ author.website}}" title="{{ author.name }}'s Website">{{ author.name }}</a>
                    {% else %}
                    <a rel="author" href="#" title="{{ author.name }}">{{ author.name }}</a>
                    {% endif %}
                    {% if author.email %}
                    <a rel="author" href="mailto:{{ author.email }}" title="{{ author.name }}'s Email">
                        <span class="glyphicon glyphicon-envelope" style="font-size: 18px"></span>
                    </a>
                    {% endif %}
                    {% if author.github %}
                    <a rel="author" href="https://github.com/{{ author.github }}" title="{{ author.name }}'s GitHub">
                        <img src="//external-content.duckduckgo.com/ip/github.com.ico" alt="GitHub Logo"></a>
                    {% endif %}
                    {% if author.openhub %}
                    <a rel="author" href="https://www.openhub.net/accounts/{{ author.openhub }}"
                       title="{{ author.name }}'s OpenHub">
                        <img src="//external-content.duckduckgo.com/ip/openhub.net.ico" alt="OpenHub Logo"></a>
                    {% endif %}
                    {% if author.twitter %}
                    <a rel="author" href="https://twitter.com/{{ author.twitter }}" title="{{ author.name }}'s Twitter">
                        <img src="//external-content.duckduckgo.com/ip/twitter.com.ico" alt="Twitter Logo"></a>
                    {% endif %}
                    {% if author.linkedin %}
                    <a rel="author" href="https://www.linkedin.com/in/{{ author.linkedin }}/"
                       title="{{ author.name }}'s LinkedIn">
                        <img src="//external-content.duckduckgo.com/ip/linkedin.com.ico" alt="LinkedIn Logo">
                    </a>
                    {% endif %}
                    {% endif %}
                </p>
                <p>
                    Published: {{ page.date | date: "%Y-%m-%d"}}
                </p>
                {% if page.update_date and page.date != page.update_date %}
                <p>
                    Updated: {{ page.update_date | date: "%Y-%m-%d"}}
                </p>
                {% endif %}
            </div>
            {{ content }}
        </div>
    </div>
</div>

{% include layout/footer.html %}

</body>
</html>
